@model ChatViewModel

@if (this.Model.Messages is null)
{
	<p>No messages with this user.</p>
}
else
{
	<input type="hidden" id="senderId" value="@Model.SenderId">
	<input type="hidden" id="receiverId" value="@Model.ReceiverId">
	<div class="chat">
		<div class="chat-header clearfix">
			<div class="row">
				<div class="col-lg-6">
					<a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
						<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
					</a>
					<div class="chat-about">
						<h6 id="receiverEmail" class="m-b-0"></h6>
						<small>Last seen: 2 hours ago</small>
					</div>
				</div>
				<div class="col-lg-6 hidden-sm text-right">
					<a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
					<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
					<a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
					<a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
				</div>
			</div>
		</div>
		<div class="chat-history">
			<ul id="list"class="m-b-0">
				@foreach (var currMessage in this.Model.Messages)
				{
					@if (currMessage.SenderId == this.Model.SenderId)
					{
						<li class="clearfix">
							<div class="message-data text-right">
								<span class="message-data-time">@currMessage.CreatedOn</span>
@*								<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
*@							</div>
							<div class="message other-message float-right">@currMessage.MessageBody</div>
						</li>
					}
					else
					{
						<li class="clearfix">
							<div class="message-data">
								<span class="message-data-time">@currMessage.CreatedOn</span>
							</div>
							<div class="message my-message">@currMessage.MessageBody</div>
						</li>
					}
				}
			</ul>
		</div>
		<div class="chat-message clearfix">
			<div class="input-group mb-0">
				<div class="input-group-prepend">
					<button id="submit" class="input-group-text" disabled><i class="fa fa-send"></i></button>
				</div>
				<input id="messageValue" onkeyup="success()" type="text" class="form-control" placeholder="Enter text here..." />
			</div>
		</div>
	</div>
}

@section Scripts{
<script src="~/js/signalr.js"></script>
}
